{% extends "encyclopedia/layoutTextArea.html" %}

{% block Type %}
<h2>New Page</h2>
{% endblock %}

{% block form %}
<div style="width: 800px; padding-left: 20px; padding-top: 10px;">
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <input id="textInput" type="text" placeholder="Title" style="width: 400px;" name="title" onkeyup="checkText()"/>
        <textarea id="textArea" placeholder="Type here" name="textArea" onkeyup="checkText()"></textarea>
        <input id="buttonSave" type="submit" value="Save" disabled/>
    </form>
</div>
{% endblock %}